# Старые настройки (PythonAnywhere):
# host='shashlik125.mysql.pythonanywhere-services.com'
# user='shashlik125'
# password='...'
# database='shashlik125$default'

# Новые настройки (XAMPP):
host='localhost'  # или '127.0.0.1'
user='root'       # стандартный пользователь XAMPP
password=''       # пароль по умолчанию пустой
database='mood_tracker'  # имя вашей локальной базы
port=3306